@font-face {
    font-family: Helvetica-Neue;
    src: url("./fonts/HelveticaNeue-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Helvetica-Neue;
    src: url("./fonts/HelveticaNeue-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Helvetica-Neue;
    src: url("./fonts/HelveticaNeue-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Helvetica-Neue;
    src: url("./fonts/HelveticaNeue.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: ICIELBCDDCHARDWARE;
    src: url("./fonts/ICIELBCDDCHARDWARE-CONDENSED.TTF");
}
