@font-face {
  font-family: Helvetica-Neue;
  src: url("./fonts/HelveticaNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica-Neue;
  src: url("./fonts/HelveticaNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica-Neue;
  src: url("./fonts/HelveticaNeue-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Helvetica-Neue;
  src: url("./fonts/HelveticaNeue.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.adm_emag, .adm_emag .adm--content .adm--banner, .adm_emag .adm--content .adm--grid-blog, .adm_emag .adm--content .adm--grid-blog .container .block {
  position: relative;
  width: 100%;
}

.adm_emag .adm--content .adm--banner .container .banner-content .banner-img img, .adm_emag .adm--content .adm--banner .container .banner-content .banner-title img, .adm_emag .adm--content .adm--banner .container .more-btn img, .adm_emag .adm--popup .adm-popup--block .popup-block--top .popup-container .popup-banner .popup-banner-title img,
.adm_emag .adm--popup .adm-popup--block .popup-block--top .popup-container .popup-banner .popup-banner-img img, .adm_emag .adm--popup .adm-popup--block .popup-block--top .popup-container .popup-content .popup-content-img img, .adm_emag .adm--popup .adm-popup--block .popup-block--bot .popup-nav-wrapper .popup-nav .popup-nav-thumb img {
  width: 100%;
  display: block;
  height: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fake-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  background-color: #000000;
  z-index: 1;
}

.adm_emag {
  overflow: hidden;
  background-image: url("../images/fpt-bg.png");
  background-position: top center;
  background-size: cover;
  margin-top: 44px;
  height: calc(100vh - 44px);
}

.adm_emag .container-full {
  max-width: none;
  padding: 0;
}

.adm_emag .row {
  margin-left: 0;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.adm_emag .row--h-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.adm_emag .col-10 {
  padding: 0 20px;
  width: calc(100% * 10 / 12);
}

.adm_emag .col-11 {
  padding: 0 20px;
  width: calc(100% * 11 / 12);
}

.adm_emag .col-6 {
  padding: 0 20px;
  width: calc(100% * 6 / 12);
}

.adm_emag .offset-6 {
  margin-left: calc(100% * 6 / 12);
}

.adm_emag .max-1600 {
  max-width: 1600px;
}

.adm_emag .w980 {
  width: 980px;
  margin: 0 auto;
}

.adm_emag .hidden {
  display: none;
}

.adm_emag .adm--content .adm--banner {
  margin-bottom: 70px;
}

.adm_emag .adm--content .adm--banner .container .banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adm_emag .adm--content .adm--banner .container .banner-content .banner-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.adm_emag .adm--content .adm--banner .container .banner-content .banner-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.adm_emag .adm--content .adm--banner .container .banner-content .banner-title .title-text {
  margin-left: -40px;
}

.adm_emag .adm--content .adm--banner .container .banner-content .banner-title .sapo-text {
  width: 80%;
}

.adm_emag .adm--content .adm--banner .container .more-btn {
  position: absolute;
  bottom: -45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40px;
  height: 40px;
}

.adm_emag .adm--content .adm--grid-blog {
  padding-top: 260px;
  margin-bottom: 50px;
}

.adm_emag .adm--content .adm--grid-blog::before {
  content: "";
  width: 2px;
  height: 100%;
  background: rgba(218, 217, 210, 0.5);
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  opacity: 1;
  -webkit-transition: opacity 1s 0.75s;
  transition: opacity 1s 0.75s;
}

.adm_emag .adm--content .adm--grid-blog .container .section--objects__row > div:nth-child(odd) {
  margin-top: -205px;
}

.adm_emag .adm--content .adm--grid-blog .container .section--objects__content {
  margin-top: -205px;
  margin-bottom: 100px;
}

.adm_emag .adm--content .adm--grid-blog .container .section--objects__content .intro p {
  font-family: Helvetica-Neue;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.35;
  margin-bottom: 0;
  text-align: justify;
}

.adm_emag .adm--content .adm--grid-blog .container .block.block--object {
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  -webkit-perspective: 3000px;
  perspective: 3000px;
  margin-bottom: 32px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.adm_emag .adm--content .adm--grid-blog .container .block.block--object::after {
  content: "";
  display: block;
  position: relative;
  padding-bottom: 150%;
}

.adm_emag .adm--content .adm--grid-blog .container .block.block--object:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: url("../images/hover-icon.png"), auto;
}

.adm_emag .adm--content .adm--grid-blog .container .block.block--object:hover .block--object__inner {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.adm_emag .adm--content .adm--grid-blog .container .block.block--object:hover .block--object__inner::before {
  background-color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.adm_emag .adm--content .adm--grid-blog .container .block .block--object__inner {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  overflow: hidden;
  border-radius: 10px;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.adm_emag .adm--content .adm--grid-blog .container .block .block--object__inner::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  opacity: 0.4;
  z-index: 1;
  background-color: #000000;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.adm_emag .adm--content .adm--grid-blog .container .block .block--object__inner img {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 0;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.adm_emag .adm--content .adm--grid-blog .container .credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 400px;
  width: 80%;
}

.adm_emag .adm--content .adm--grid-blog .container .credit .credit-img img {
  height: 300px;
  width: auto;
  display: block;
}

.adm_emag .adm--content .adm--grid-blog .container .credit .credit-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.adm_emag .adm--content .adm--grid-blog .container .credit .credit-text .credit-title {
  margin-bottom: 30px;
}

.adm_emag .adm--content .adm--grid-blog .container .credit .credit-text .credit-name p {
  margin-bottom: 20px;
  font-family: Helvetica-Neue;
  font-weight: 300;
  font-style: normal;
  color: #000000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  pointer-events: none;
}

.adm_emag .adm--content .adm--grid-blog .container .credit .credit-text .credit-name p span {
  display: inline-block;
}

.adm_emag .adm--content .adm--grid-blog .container .credit .credit-text .credit-name p span.sep {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin: 0px 5px;
}

.adm_emag .adm--popup {
  position: fixed;
  top: 44px;
  left: 0;
  width: 100%;
  height: calc(100vh - 44px);
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f48118;
  z-index: 1;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
  opacity: 0;
  z-index: -1;
}

.adm_emag .adm--popup .adm-popup--block {
  padding: 20px;
  display: none;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

.adm_emag .adm--popup .adm-popup--block .popup-block--top {
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 100px;
  border-radius: 15px;
}

.adm_emag .adm--popup .adm-popup--block .popup-block--top .popup-container {
  padding: 0 100px;
}

.adm_emag .adm--popup .adm-popup--block .popup-block--top .popup-container .popup-banner {
  margin-bottom: 30px;
}

.adm_emag .adm--popup .adm-popup--block .popup-block--top .popup-container .popup-content p {
  font-family: Helvetica-Neue;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 0;
  color: #000000;
  text-align: justify;
}

.adm_emag .adm--popup .adm-popup--block .popup-block--top .popup-container .popup-content p.break {
  margin-bottom: 20px;
}

.adm_emag .adm--popup .adm-popup--block .popup-block--top .popup-container .popup-content p.author {
  margin-top: 70px;
  text-align: right;
  font-weight: 300;
  font-style: italic;
}

.adm_emag .adm--popup .adm-popup--block .popup-block--top .popup-container .popup-content .popup-content-img {
  margin-top: 50px;
}

.adm_emag .adm--popup .adm-popup--block .popup-block--bot {
  border-radius: 15px;
  background-color: #d66804;
  margin-top: 20px;
  padding: 40px 0;
}

.adm_emag .adm--popup .adm-popup--block .popup-block--bot .popup-nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.adm_emag .adm--popup .adm-popup--block .popup-block--bot .popup-nav-wrapper .popup-nav {
  cursor: pointer;
}

.adm_emag .adm--popup .adm-popup--block .popup-block--bot .popup-nav-wrapper .popup-nav .popup-nav-thumb {
  margin-bottom: 30px;
}

.adm_emag .adm--popup .adm-popup--block .popup-block--bot .popup-nav-wrapper .popup-nav .popup-nav-text {
  color: #ffffff;
  font-family: Helvetica-Neue;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.adm_emag .adm--popup .adm-popup--block .popup-block--bot .popup-nav-wrapper .popup-nav .popup-nav-text span {
  display: inline-block;
  padding: 0 3px;
}

.adm_emag .adm--popup .adm-popup--block .popup-block--bot .popup-nav-wrapper .popup-nav.popup-nav-right .popup-nav-text {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.adm_emag .adm--popup .adm-popup--block .popup-block--bot .popup-nav-wrapper .popup-nav.popup-nav-right .popup-nav-text span.icon-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.adm_emag .adm--popup .adm-popup--block.popup-active {
  display: block;
}

.adm_emag .adm--popup .ss-btn-arrow {
  height: 60px;
  width: 60px;
  color: #fff;
  font: normal 30px/1 "SF-ProText";
  border: 3px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f48118;
  -webkit-box-shadow: 0 0 30px #de700b;
          box-shadow: 0 0 30px #de700b;
  cursor: pointer;
  border-radius: 50%;
  position: fixed;
  top: 100px;
  left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 10;
}

.adm_emag .adm--popup .ss-btn-arrow:hover {
  background: #eb4714;
  -webkit-box-shadow: 0 0 30px #eb4714;
          box-shadow: 0 0 30px #eb4714;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.adm_emag .adm--popup .ss-btn-arrow:focus {
  outline: none;
}

.adm_emag .adm--popup.popup-wrapper-active {
  opacity: 1;
  z-index: 99;
}

.adm_emag.popup-open {
  height: calc(100vh - 44px);
  overflow: hidden;
}
/*# sourceMappingURL=index.css.map */